.businesscard{
  position: relative;
  height:200px;
  width:300px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 5%;
  backdrop-filter:blur(10px);
  z-index: 2;
}

.businesscard::after{
  content: '';
  width: 50px;
  height: 50px;
  background-color:yellow;
  position: absolute;
  border-radius: 50%;
  top:5px;
  left:20px;
  z-index: -2;
}

.businesscard_name{
  padding: 10px;
  border-bottom: 1px solid black;

}
.businesscard_details{
  display: flex;
}
.businesscard_details_left{
  flex:4;
  margin:5px;
  font-size: 10px;
}
.businesscard_details_right{
  flex:6;
  margin: 5px;
  padding: 5px;
  background:;
}
.detail{
  display: flex;
  font-size: 10px;
}
