.homepage{
  position:relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #eee;
}
.homepage header{
  flex:1;
  width: 100%;
  height: auto;
  margin-bottom: 20px;
  border-bottom: 1px solid black;
}

.homepage header img{
  width: 100%;
  height:auto;
}


.homepage .homepage_content{
  flex:8;
  display: flex;
  flex-direction: column;
  width:100%;
  margin:20px;
  padding: 20px;
}
.homepage .homepage_content .homepage_classification{
  position: relative;
}

.homepage_classification_title{
  position: relative;
<<<<<<< HEAD
  background:rgb(255, 177, 134);
  font-size: 40px;
=======
>>>>>>> 78918d35aaec3a104974faecc1762464f4275759
}

.homepage_classification_title::before{
  content:'';
  width: 100px;
  height:1px;
  background-color:red;
  position: absolute;
  right: 35%;
  top:50%;
}
.homepage_classification_title::after{
  content:'';
  width: 100px;
  height:1px;
  background-color:red;
  position: absolute;
  left:35%;
  top:50%;
}
.homepage_classification_items{
<<<<<<< HEAD
  width:100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
=======
  display: flex;
  justify-content:space-around;
>>>>>>> 78918d35aaec3a104974faecc1762464f4275759
  align-items: center;
}
